@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
.navigation-hidden {
  display: none;
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden; }

.item-active {
  transform: translateY(-0.5rem) scale(0.85); }

.hidden {
  opacity: 0;
  visibility: hidden;
  display: none; }

.input-hidden {
  transform: translateX(-3rem);
  display: none;
  opacity: 0;
  visibility: hidden; }
  @media only screen and (max-width: 48.25em) {
    .input-hidden {
      transform: translateX(3rem); } }

.error {
  font-size: 1.3rem;
  font-weight: 500;
  color: #c92a2a;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%); }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #495057;
  transition: all 0.7s;
  z-index: 1000; }
  .overlay-box {
    width: 30px;
    height: 30px;
    background-color: #dee2e6;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    padding: 1.5rem 0; }
  .overlay-text {
    text-transform: capitalize;
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: 0.45rem;
    color: #dee2e6;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -28%); }
    @media only screen and (max-width: 48.25em) {
      .overlay-text {
        font-size: 1.3rem;
        letter-spacing: 0.15rem; } }

.hide-overlay {
  transform: translateX(-100vw); }

.content--overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  z-index: 100; }
  .content--overlay img {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%); }
  .content--overlay-text {
    text-transform: lowercase;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.25rem;
    color: #495057;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%); }

.error--overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #dee2e6;
  width: 100%;
  height: 100%;
  z-index: 100; }
  .error--overlay-text {
    text-transform: capitalize;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.15rem;
    color: #c92a2a;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -15%); }

.scroll {
  width: 3rem;
  height: 3rem;
  background: #1e3b4d;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 7rem;
  right: 5rem;
  cursor: pointer; }
  .scroll img {
    width: 50%;
    height: 50%;
    object-fit: cover; }

.article {
  margin: 1.5rem auto;
  width: 90%; }
  .article__figure {
    width: 10rem;
    height: 7rem; }
  .article__image {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .article__source {
    font-size: 0.9rem;
    font-weight: 400;
    text-transform: lowercase;
    color: #c92a2a;
    padding: 0.2rem 0;
    letter-spacing: 0.1rem;
    line-height: 1; }
  .article__date {
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
    color: #c92a2a;
    letter-spacing: 0.1rem;
    line-height: 1; }
  .article__title {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
    color: #495057;
    line-height: 1.5;
    padding: 0.4rem 0; }
  .article__description {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.4;
    color: #495057; }
  .article__button {
    display: inline-block;
    margin: 0.5rem 0;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.15rem;
    padding: 0.3rem 0.8rem;
    border: 0.5px solid #dee2e6;
    transition: all 0.2s;
    flex: 0; }
    .article__button:hover {
      color: #c92a2a; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (min-width: 87.25em) {
    html {
      font-size: 80%; } }

body {
  line-height: 1.7;
  box-sizing: border-box;
  background-color: #f1f3f5; }

.container {
  position: relative;
  width: 80%;
  min-height: 100vh;
  margin: 5rem auto;
  background-color: #f1f3f5;
  display: flex; }
  @media only screen and (max-width: 48.25em) {
    .container {
      flex-direction: column;
      width: 100%;
      margin: 0 auto; } }
  @media only screen and (min-width: 87.25em) {
    .container {
      width: 70%; } }

.navigation {
  height: calc(100% - 5rem);
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 1000; }
  @media only screen and (max-width: 48.25em) {
    .navigation {
      display: none;
      opacity: 0;
      visibility: hidden; } }
  .navigation__item {
    display: inline-block;
    text-transform: lowercase;
    list-style: none;
    font-size: 1.2rem;
    font-weight: 500;
    border-bottom: 1.2px solid #0ca678;
    padding: 0.2rem 0.8rem;
    margin: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease; }
    .navigation__item:hover, .navigation__item:active {
      font-size: 1.05rem;
      color: #dee2e6;
      border-bottom: 0.7px solid #495057; }

.mobile-menu {
  position: absolute;
  top: 5rem;
  right: 0;
  width: 8rem;
  height: calc(100% - 5rem);
  padding-top: 5rem;
  background-color: #495057;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 1000;
  transition: all 0.35s ease; }
  .mobile-menu__item {
    display: inline-block;
    text-transform: lowercase;
    list-style: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: #dee2e6;
    border-bottom: 1.2px solid #087f5b;
    padding: 0.2rem 0.8rem;
    margin: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease; }
    .mobile-menu__item:hover, .mobile-menu__item:active {
      font-size: 1.05rem;
      color: #c92a2a;
      border-bottom: 0.7px solid #dee2e6; }

.sidebar {
  background-color: #087f5b;
  width: 8rem; }
  @media only screen and (max-width: 48.25em) {
    .sidebar {
      width: 100%;
      height: 5rem; } }
  .sidebar__top {
    padding: 1.5rem;
    text-align: center; }
    @media only screen and (max-width: 48.25em) {
      .sidebar__top {
        text-align: right; } }
    .sidebar__top--icon {
      display: inline-block;
      height: 2rem;
      cursor: pointer;
      pointer-events: none; }
      @media only screen and (max-width: 48.25em) {
        .sidebar__top--icon {
          pointer-events: all; } }

.main {
  position: relative;
  width: 100%; }

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 2rem;
  max-height: 7rem;
  background-color: #dee2e6; }
  @media only screen and (max-width: 48.25em) {
    .header {
      position: absolute;
      top: -4rem;
      left: 0.8rem;
      padding: 0.4rem;
      max-height: 3rem;
      background-color: #087f5b; } }
  .header__logo {
    display: flex;
    justify-content: center;
    align-items: center; }
    .header__logo--text {
      font-size: 1.8rem;
      font-weight: 600;
      letter-spacing: 0.5px; }

.content {
  position: relative;
  padding: 3rem 1.4rem; }
  .content__article--container {
    min-height: 70rem; }
  .content__heading {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    text-align: center;
    margin-bottom: 4rem; }
    .content__heading::first-letter {
      font-size: 1.9rem;
      font-weight: 600;
      color: #c92a2a;
      text-transform: uppercase; }
    @media only screen and (max-width: 48.25em) {
      .content__heading {
        letter-spacing: 0.13rem;
        font-size: 1.3rem; } }
  .content__pagination {
    width: 100%;
    height: 4rem;
    padding: 0.5rem 1rem;
    position: relative; }
    .content__pagination--left, .content__pagination--right {
      position: absolute;
      bottom: 0.5rem;
      font-size: 1.1rem;
      font-weight: 500;
      text-transform: lowercase;
      color: #495057;
      border: 1px solid #dee2e6;
      padding: 0.3rem 1.7rem;
      letter-spacing: 0.1rem;
      border-radius: 0.15rem;
      cursor: pointer;
      transition: all 0.2s ease; }
      .content__pagination--left:hover, .content__pagination--right:hover {
        color: #c92a2a;
        border: 1px solid #495057; }
      .content__pagination--left:active, .content__pagination--right:active {
        transform: scale(0.9); }
    .content__pagination--left {
      left: 7rem; }
      @media only screen and (max-width: 60em) {
        .content__pagination--left {
          left: 4rem; } }
      @media only screen and (max-width: 48.25em) {
        .content__pagination--left {
          left: 1rem; } }
    .content__pagination--right {
      right: 7rem; }
      @media only screen and (max-width: 60em) {
        .content__pagination--right {
          right: 4rem; } }
      @media only screen and (max-width: 48.25em) {
        .content__pagination--right {
          right: 1rem; } }

.search {
  position: absolute;
  top: 10rem;
  right: 2rem;
  z-index: 1;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 48.25em) {
    .search {
      flex-direction: row-reverse;
      justify-content: flex-end;
      left: 1rem;
      top: 7rem; } }
  .search__input {
    display: inline-block;
    padding: 0.4rem;
    border-radius: 10rem;
    border: none;
    margin: 0 1.5rem;
    transition: all 0.3s; }
    .search__input:focus {
      outline: 0.5px solid #c92a2a; }
  .search__icon {
    display: inline-block;
    height: 2.3rem;
    width: 2.3rem;
    border-radius: 50%;
    border: 1px solid #0ca678;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
    .search__icon img {
      width: 60%;
      height: 60%;
      object-fit: cover; }
